* {
    font-family: 'Open Sans', sans-serif;
    color: #ab595e;
}

html {
  font-size: 18px;
  position: relative;
  min-height: 100%;
}

@media {
  html {
    font-size: 23px;
  }
  .container{
      height: 90%;
  }
  main{
      height: 100%;
  }
}

body {
  background-color: #ffeae5;
  height: 100vh;
}

#divBusca {
    background-color: #f3b6b6;
    border: solid 1px #000000;
    border-radius: 60px;
    width: 350px;
    height: 32px;
}

#btnBusca {
    border: solid 1px #000000;
    float: left;
    height: 48px;
    width: 68px;
    font-weight: bold;
    background: #f3b6b6;
}

#txtBusca {
    float: right;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    height: 48px;
    width: 280px;
}