html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #ffeae5;
}

#divBusca {
    background-color: #f3b6b6;
    border: solid 1px;
    border-radius: 15px;
    width: 300px;
}

#txtBusca {
    float: left;
    background-color: #f3b6b6;
    padding-left: 5px;
    font-size: 20px;
    border: none;
    height: 32px;
    width: 260px;
}