p {
    display: inline;
}
.botao{
    background-color: transparent;
    border: none;
    display: inline;
}
h2{
    text-align: center;
    display: block;
}

/*-------------------------------------------*/
.pai{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardprincipal {
    background-color: #f3b6b6;
    border: 1px solid;
    border-radius: 10px;
    padding: 1%;
    width: 50%;
    margin-right: 0;
    display: block;
}
label{
    padding-right: 1px;
}
input{
    border: none;
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}