<div>
    <h2>DADOS PESSOAIS</h2>
    <div class="pai">
        <div class="cardprincipal">
            <div>
                <form>
                    <lable>Nome: </lable>
                    <input type="text" />
                    <lable>RG: </lable>
                    <input type="text" />
                    <lable>Nome: </lable>
                    <input type="text" />
                    <lable>RG: </lable>
                    <input type="text" />
                    <lable>Telefone*: </lable>
                    <input type="text" required />
                    <input type="text" />
                </form>
            </div>
        </div>
    </divpai>
    
</div>


@*<div>
    <h2>CRONOGRAMA</h2>
    <div class="cardprincipal">
        <div>
            <lable>Data do Evento: </lable>
            <input />
            <lable>Horário: </lable>
            <input />
        </div>
        <div class="baixo">
            <div class="meio">
                <p><img style="width: 15px;" src="~/css/checkzinho.png" />CERIMÔNIA</p>
                <button class="botao">(+)</button>
                <table>
                </table>
            </div>
            <div class="meio">
                <p><img style="width: 15px;" src="~/css/checkzinho.png" />FESTA</p>
                <button class="botao">(+)</button>
                <table>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <h2>CONVIDADOS</h2>
    <div class="cardprincipal">
        <div class="baixo">
            <div class="meio">
                <div>
                    <label>Nome*: </label>
                    <input type="text" required />
                </div>
                <div>
                    <label>Telefone*: </label>
                    <input type="text" required />
                </div>
                <div>
                    <label>Mesa: </label>
                    <input type="number" />
                </div>
            </div>
            <div class="meio">
                <button>Ver Lista</button>
                <br />
                <button>+</button>
            </div>
        </div>
    </div>
</div>
<div>
    <h2>FORNECEDORES</h2>
    <div class="cardprincipal">
        <div class="baixo">
            <div class="meio">
                <div>
                    <label>Nome*: </label>
                    <input type="text" required />
                </div>
                <div>
                    <label>Produto*: </label>
                    <input type="text" required />
                </div>
                <div>
                    <label>Telefone*: </label>
                    <input type="text" required />
                </div>
                <div>
                </div>
                <label>Descrição: </label>
                <input class="descricao" type="text" />
            </div>
            <div class="meio">
                <button>Ver Lista</button>
                <br />
                <button>+</button>
            </div>
        </div>
    </div>
</div>*@