body {
}
.cardprincipal {
    background-color: #f3b6b6;
    border: 1px solid;
    border-radius: 10px;
    padding: 2%;
}
.botao{
    background-color: transparent;
    border: none;
    display: inline;
}
p{
    display: inline;
}
<<<<<<< HEAD






.listas{
    display: flex;
    width: 100%;
}
.cermonia{
    display: inline;
    width: 50%;
}
.festa{
    display: inline;
    width: 50%;
>>>>>>> a6a1465760e8b7862515136ee4c37b26d4710f45
}