<div class="">
    <h2>DADOS PESSOAIS</h2>
    <div class="cardprincipal">
        <lable>Nome: </lable>
        <input  type="text"/>
        <lable>RG: </lable>
        <input  type="text"/>
        <br/>
        <lable>Nome: </lable>
        <input  type="text" />
        <lable>RG: </lable>
        <input  type="text" />
        <br />
        <lable>Telefone: </lable>
        <input  type="text" required/>
        <input  type="text" />
    </div>
    <h2>CRONOGRAMA</h2>
    <div class="cardprincipal">
        <div>
            <lable>Data do Evento</lable>
            <input />
            <lable>Horário: </lable>
            <input />
        </div>
        <div class="listas">
            <div class="cerimonia">
                <p><img style="width: 20px;" src="~/css/checkzinho.png" />CERIMÔNIA</p>
                <button class="botao">(+)</button>
                <table>
                </table>
            </div>
            <div class="festa">
                <p><img style="width: 20px;" src="~/css/checkzinho.png" />FESTA</p>
                <button class="botao">(+)</button>
                <table>
                </table>
            </div>
        </div>
       
    </div>
</div>
