body {
}
.cardprincipal {
    background-color: #f3b6b6;
    border: 1px solid;
    border-radius: 10px;
}
.botao{
    background-color: transparent;
    border: none;
    display: inline;
}
p{
    display: inline;
}














.descricao{
    width: 200px;
    height:200px;
}