h2{
    text-align: center;
}
.cardprincipal {
    background-color: #f3b6b6;
    border: 1px solid;
    border-radius: 10px;
    padding: 2%;
}
.botao{
    background-color: transparent;
    border: none;
    display: inline;
}
p{
    display: inline;
}
.baixo{
    display: flex;
    width: 100%;
}
.meio{
    display: inline;
    width: 50%;
}
.dir_1{

}
label{
    text-align: right;
}