/*-------------------- input datalist busca --------------------*/

.botao_buscar {
    border: 1px solid;
    height: 45px;
    border-radius: 50px;
    width: fit-content;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: transparent;
    border: none;
    margin: 0 0;
    width: fit-content;
    display: inline;
}

input {
    background-color: transparent;
    border: none;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0;
    border: none;
    outline: 0;
    color: black;
}

h4{
    margin-bottom: 0;
}

/*-------------------------------------------------------------*/

.card{
    border: none;
    background-color: #f3b6b6;
    border-radius: 30px;
    margin: 0 auto;
    padding: 10%;
    max-height: 100%;
    max-width: 100%;
}

.btn-concluir {
    background-color: #ab595e;
    border-radius: 30px;
    border: none;
    color: #ffeae5;
    text-decoration: none;
    padding: 5%;
    font-size: 80%;
}

/*-------------------------------------------------*/

#carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    display: inline;
}

#carousel::-webkit-scrollbar {
    height: 0;
}

#content {
    display: grid;
    grid-gap: 70px;
    grid-auto-flow: column;
    box-sizing: border-box;
}

.item {
    width: 250px;
    height: 350px;
}

#prev, #next{
    opacity: 0.5;
}

#prev:hover, #next:hover{
    opacity: 1;
}

/*a:hover{
    opacity: 0.5;
}*/