/*-------------------- input datalist busca --------------------*/

.botao_buscar {
    border: 1px solid;
    height: 45px;
    border-radius: 50px;
    width: fit-content;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: transparent;
    border: none;
    margin: 0 0;
}

input {
    background-color: transparent;
    border: none;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0;
    border: none;
    outline: 0;
    color: black;
}

/*-------------------------------------------------------------*/


h4{
    margin-bottom: 0;
}

.card{
    border: none;
    background-color: #f3b6b6;
    width: fit-content;
    border-radius: 30px;
    margin: 0 auto;
    --bs-gutter-y: 1 rem;
    padding: 2%;
}

.btn-concluir {
    background-color: #ab595e;
    border-radius: 30px;
    border: none;
    color: #ffeae5;
    text-decoration: none;
    padding: 5%;
    width: 5%;
}

.carousel {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    overflow: hidden;
}

.carousel-control-prev, .carousel-control-next {
    position: static;
    z-index: 0;
    display: inline;
    width: fit-content;
    margin: 0 0;
    padding: 2%;
}