@model WebApp_Bloom.Models.ListaEventosViewModel
<div class="row justify-content-end mt-3">
    <div class="botao_buscar">
        <button class="botao">
            <img style="width: 40px; height: 40px;" src="~/css/pesquisar.png" />
        </button>
        <input id="myInput" type="text" />
    </div>
</div>

<div class="text-center mt-3">
    <h2>PRÓXIMOS EVENTOS</h2>
</div>

<h4 class="mt-5">CASAMENTOS</h4>

<div class="row">
    <button class="col-1" id="prev"><img src="~/css/prev.png" /></button>
    <div class="col-10" id="carousel">
        <div id="content">
            @foreach (var item in Model.TodosCasamentos)
            {
                <div class="col justify-content-center item">
                    <div class="card">
                        <div class="align-items-center justify-content-start">DATA: dia</div>
                        <div class="text-center ">@item.Id</div>
                        <a class="btn-concluir text-center" href="/Casamento/Editar">EDITAR DADOS</a>
                        <a class="btn-concluir text-center mt-2" href="/Casamento/ListaConvidados/@item.Id">VER LISTA DE CONVIDADOS</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <button class="col-1" id="next"><img src="~/css/next.png" /></button>
</div>


<script>
    const gap = 70;

    const carousel = document.getElementById("carousel"),
        content = document.getElementById("content"),
        next = document.getElementById("next"),
        prev = document.getElementById("prev");

    next.addEventListener("click", e => {
        carousel.scrollBy(width + gap, 0);

    });
    prev.addEventListener("click", e => {
        carousel.scrollBy(-(width + gap), 0);

    });

    let width = carousel.offsetWidth;
    window.addEventListener("resize", e => (width = carousel.offsetWidth));

</script>

@*<div id="carouselExampleControlsNoTouching" class="carousel slide mt-3" data-bs-touch="false" data-bs-interval="false">
    <button class="carousel-control-prev col" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
            <img src="~/css/prev.png" />
            <span class="visually-hidden">Previous</span>
        </button>
    <div class="carousel-inner">
        @foreach (var item in Model.TodosCasamentos){
            <div class="carousel-item active">
                <div class="row">
                    <div class="col justify-content-center">
                        <div class="card">
                            <div class="p-3 align-items-center justify-content-start">DATA: dia</div>
                            <div class="p-3 text-center ">@item.Id</div>
                            <div class="p-3 text-center">
                                <a class="btn-concluir" href="/Casamento/Editar">EDITAR DADOS</a>
                            </div>
                            <div class="p-3 text-center">
                                <a class="btn-concluir" href="/Casamento/ListaConvidados/@item.Id">VER LISTA DE CONVIDADOS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }     
        </div>
    <button class="carousel-control-next col" type="button" e="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
        <img src="~/css/next.png" />
        <span class="visually-hidden">Next</span>
    </button>
</div>


<h4 class="mt-5">ANIVERSÁRIOS</h4>
<div id="carouselAniversarios" class="carousel slide mt-3" data-bs-touch="false" data-bs-interval="false">
    <button class="carousel-control-prev col" type="button" data-bs-target="#carouselAniversarios" data-bs-slide="prev">
            <img src="~/css/prev.png" />
            <span class="visually-hidden">Previous</span>
        </button>
    <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col justify-content-center">
                        <div class="card">
                            <div class="p-3 align-items-center justify-content-start">DATA: 21/05/2023</div>
                            <div class="p-3 text-center ">NOME E NOME</div>
                            <div class="p-3 text-center">
                                <a class="btn-concluir" href="">VER DETALHES</a>
                            </div>
                        </div>
                    </div>
                    <div class="col justify-content-center">
                        <div class="card">
                            <div class="p-3 align-items-center justify-content-start">DATA: 21/05/2023</div>
                            <div class="p-3 text-center ">NOME E NOME</div>
                            <div class="p-3 text-center">
                                <a class="btn-concluir" href="">VER DETALHES</a>
                            </div>
                        </div>
                    </div>
                    <div class="col justify-content-center">
                        <div class="card">
                            <div class="p-3 align-items-center justify-content-start">DATA: 21/05/2023</div>
                            <div class="p-3 text-center ">NOME E NOME</div>
                            <div class="p-3 text-center">
                                <a class="btn-concluir" href="">VER DETALHES</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col justify-content-center">
                        <div class="card">
                            <div class="p-3 align-items-center justify-content-start">DATA: 21/05/2023</div>
                            <div class="p-3 text-center ">NOME E NOME</div>
                            <div class="p-3 text-center">
                                <a class="btn-concluir" href="">VER DETALHES</a>
                            </div>
                        </div>
                    </div>
                    <div class="col justify-content-center">
                        <div class="card">
                            <div class="p-3 align-items-center justify-content-start">DATA: 21/05/2023</div>
                            <div class="p-3 text-center ">NOME E NOME</div>
                            <div class="p-3 text-center">
                                <a class="btn-concluir" href="">VER DETALHES</a>
                            </div>
                        </div>
                    </div>
                    <div class="col justify-content-center">
                        <div class="card">
                            <div class="p-3 align-items-center justify-content-start">DATA: 21/05/2023</div>
                            <div class="p-3 text-center ">NOME E NOME</div>
                            <div class="p-3 text-center">
                                <a class="btn-concluir" href="">VER DETALHES</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col justify-content-center">
                        <div class="card">
                            <div class="p-3 align-items-center justify-content-start">DATA: 21/05/2023</div>
                            <div class="p-3 text-center ">NOME E NOME</div>
                            <div class="p-3 text-center">
                                <a class="btn-concluir" href="">VER DETALHES</a>
                            </div>
                        </div>
                    </div>
                    <div class="col justify-content-center">
                        <div class="card">
                            <div class="p-3 align-items-center justify-content-start">DATA: 21/05/2023</div>
                            <div class="p-3 text-center ">NOME E NOME</div>
                            <div class="p-3 text-center">
                                <a class="btn-concluir" href="">VER DETALHES</a>
                            </div>
                        </div>
                    </div>
                    <div class="col justify-content-center">
                        <div class="card">
                            <div class="p-3 align-items-center justify-content-start">DATA: 21/05/2023</div>
                            <div class="p-3 text-center ">NOME E NOME</div>
                            <div class="p-3 text-center">
                                <a class="btn-concluir" href="">VER DETALHES</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <button class="carousel-control-next col" type="button" e="button" data-bs-target="#carouselAniversarios" data-bs-slide="next">
        <img src="~/css/next.png" />
        <span class="visually-hidden">Next</span>
    </button>
</div>
*@