@model WebApp_Bloom.Models.ListaEventosViewModel
<div class="row justify-content-end mt-3">
    <div class="botao_buscar">
        <button class="botao" onclick="pesquisar()">
            <img style="width: 40px; height: 40px;" src="~/css/pesquisar.png" />
        </button>
        <input id="myInput" type="number" />
    </div>
</div>

<div class="text-center mt-3">
    <h2>PRÓXIMOS EVENTOS</h2>
</div>

<h4 class="mt-5">CASAMENTOS</h4>

<div class="row mt-3">
    <div class="col-1 p-0 d-flex justify-content-center align-items-center"><button id="prev"><img src="~/css/prev.png" /></button></div>
    <div class="col-10" id="carousel">
        <div id="content">
            @foreach (var item in Model.TodosCasamentos)
            {
                <div class="col justify-content-center item">
                    <div class="card">
                        <div class="align-items-center justify-content-start">DATA: dia</div>
                        <id class="text-center id-casamento">@item.Id</id>
                        <a class="btn-concluir text-center" href="/Casamento/Editar/@item.Id">VER DETALHES</a>
                        <a class="btn-concluir text-center mt-2" href="/Casamento/ListaConvidados/@item.Id">VER LISTA DE CONVIDADOS</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-1 p-0 d-flex justify-content-center align-items-center"><button id="next"><img src="~/css/next.png" /></button></div>
    
</div>


<script>
    const gap = 70;

    const carousel = document.getElementById("carousel"),
        content = document.getElementById("content"),
        next = document.getElementById("next"),
        prev = document.getElementById("prev");

    next.addEventListener("click", e => {
        carousel.scrollBy(width + gap, 0);

    });
    prev.addEventListener("click", e => {
        carousel.scrollBy(-(width + gap), 0);

    });

    let width = carousel.offsetWidth;
    window.addEventListener("resize", e => (width = carousel.offsetWidth));

    //function pesquisar(){
    //    let inputElement = document.querySelector("input")
    //    let listElement = document.querySelector("div class='col justify - content - center item'")
    //    let itemElement = document.querySelectorAll("li")
        
    //    let inputed = e.target.value()

    //    itemElement.forEach((li) => {
    //        let text = li.textContent()
    //        if(text.includes(inputed)){
    //            listElement.style.display = "block"
    //        }
    //        else{
    //            listElement.style.display = "none"
    //        }
    //    }
    //})

</script>