<div class="col-4"></div>
<div class="card col-4 card_evento">
    <div class="row">
        <img class="bolo_anel" src="~/css/anel.png" />
        <a href="" class="btn botao">CASAMENTO</a>
    </div>
    <div class="row">
        <img class="bolo_anel" src="~/css/bolo.png" />
        <a href="" class="btn botao">ANIVERSÁRIO</a>
    </div>
    <span><img scr="" /></span>
</div>
<div class="col-4"></div>