<div class="card">
    <div class="row">
        <span><img src="~/css/anel.png" /></span>
        <a href="/Evento/Casamento" class="btn botao">CASAMENTO</a>
    </div>
    <div class="row">
        <span><img src="~/css/bolo.png" /></span>
        <a href="/Evento/Aniversario" class="btn botao">ANIVERSÁRIO</a>
    </div>
    <div class="row">
        <img class="rodape" src="~/css/rodape.png" />
    </div>
</div>
