<style>

    body {
        width: 0px;
    }

    form {
        text-align: center;
        background-color: #f3b6b6;
        max-width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 80px;
        border-radius: 15px;
    }

    img {
        width: 110%;
        text-align: center;
        margin-top: 1%;
    }

    h2 {
        font-size: 24px;
        text-align: center;
    }


    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
        border: 1px solid #a6a6a6;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 13px;
    }

    input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: black;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type="submit"]:hover {
            background-color: white;
            color: black;
        }

</style>


<form asp-controller="Home" asp-action="Home1" method="post">

    <img src="~/css/bloom (1).png" />

    <h2>Login</h2>

    <input type="text" name="username" required>

    <input type="password" name="senha" required>

    <input type="submit" value="Login"

</form>
