<br/>
<div class="row">
    <div class="col-5"></div>
    <div class="col-4 title">CONVIDADOS</div>
    <div class="col-3"></div>
</div>
<br/>
<div> 
    <div class=" card-body cardprincipal" style="">  
                <div class="botao_buscar">
                    <button class="botao">
                        <img class="imagem" src="~/css/pesquisar.png" />
                    </button>
                    <input type="text" />
        </div> 
        <form>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Mesa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" /><span class="checkmark"></span></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
 
