.title {
    color: #ab595e;
    font-size: 30px;
}

.cardprincipal {
    background-color: #f3b6b6;
    border: 1px solid;
    border-radius: 10px;
}
.botao_buscar{
    border: 1px solid;
    height: 60px;
    border-radius: 50px;
    width:fit-content;
    border-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}
input{
    background-color: transparent;
    border: none;
}
.botao {
    background-color: transparent;
    border: none;
}

textarea:focus, input:focus, select:focus{
    box-shadow: 0;
    border: none;
    outline: 0;
    color:black;
}