<br/>
<div class="row">
    <div class="col-5"></div>
    <div class="col-4" style="color:#ab595e; font-size:30px">CONVIDADOS</div>
    <div class="col-3"></div>
</div>
<br/>
<div class="row">
    <div class="col-2"></div>
    <div class="col-9 card-body" style="background-color: #f3b6b6">
        <div class="row">
            <div class="col-6">
                <div style="block-size:50px" id="divBusca" >
                    <button style="display:inline;border: none;background-color:transparent;">
                        <span class="material-symbols-outlined"></span>
                    </button>
                    <input id="txtBusca" type="text" style="background-color: #f3b6b6; block-size: 40px;"/>
                </div>
            </div>
        </div>
        <form action="#" method="get">
            <input type="checkbox" style="tab-size:35px"/>
        </form>
    </div>
    <div class="col-1"></div>
</div>