<div class="row">
    <div class="col-5"></div>
    <div class="col-4">CONVIDADOS</div>
    <div class="col-3"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 card-body" >
        <div class="row">
            <div class="col-4">
                <select name="filtro" class="form-control">

                </select>
            </div>
        </div>
        <form action="#" method="get">

        </form>
    </div>
    <div class="col-2"></div>
</div>