<div>
    <h3>Perguntas Frenquentes</h3>
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle botao_pergunta" data-bs-toggle="dropdown" aria-expanded="false">
    Como cadastrar um evento?
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item">
        Abra o menu lateral, clicando no botão do canto superior esquerdo, selecione evento e o tipo desejado.
        Ao selecionar, a tela de cadastro irá abrir, insira todas as informações necessárias e depois clique no botão concluir
        para salvar o evento.
    </a></li>
  </ul>
</div>
    
</div>
