<div class="mt-3">
    <h3>Perguntas Frenquentes</h3>
<div class="btn-group mt-3">
        <button type="button" class="botao_pergunta" data-bs-toggle="collapse" data-bs-target="#demo">
            Como cadastrar um evento?
        </button>
        <div class="hot-collapse-arrow"></div>
</div>
    <div id="demo" class="collapse caixa_resposta">
        Abra o menu lateral, clicando no botão do canto superior esquerdo, selecione evento e o tipo desejado.
        Ao selecionar, a tela de cadastro irá abrir, insira todas as informações necessárias e depois clique no botão concluir
        para salvar o evento.
    </div>
    <br/>
    <div class="btn-group mt-3">
        <button type="button" class="botao_pergunta" data-bs-toggle="collapse" data-bs-target="#demo1">
            Como editar o cronograma do evento?
        </button>
    </div>
    <div id="demo1" class="collapse caixa_resposta">
        Na aba cronograma no ícone “ + “, clique para adicionar uma linha e informe o horário e o que acontecera naquele horário.
        Se quiser excluir a linha é só click no ícone “-“.
    </div>
    <br />
    <div class="btn-group mt-3">
        <button type="button" class="botao_pergunta" data-bs-toggle="collapse" data-bs-target="#demo2">
            Como faz para cadastrar novos clientes, convidados e fornecedores?
        </button>
    </div>
    <div id="demo2" class="collapse caixa_resposta">
        No formulário de preenchimento basta clicar em cadastrar clientes, cadastrar convidados e cadastrar fornecedores.
    </div>
    <br />
    <div class="btn-group mt-3">
        <button type="button" class="botao_pergunta" data-bs-toggle="collapse" data-bs-target="#demo3">
            Como faço para adicionar o convidado e fornecedor na lista?
        </button>
    </div>
    <div id="demo3" class="collapse caixa_resposta">
        Para você adicionar você tem que ir no campo desejado e ir no ícone (+), para o convidado e fornecedor serem adicionados.
        E para ver a lista completa, ir no ícone “ver lista”.
    </div>
    <br />
    <div class="btn-group mt-3">
        <button type="button" class="botao_pergunta" data-bs-toggle="collapse" data-bs-target="#demo4">
            Como faço para terminar o formulário?
        </button>
    </div>
    <div id="demo4" class="collapse caixa_resposta">
        Se todas as informações estivem preenchidas, ir no botão concluir todas as informações inseridas já vão estar salvas.
    </div>
    <br />
    <div class="btn-group mt-3">
        <button type="button" class="botao_pergunta" data-bs-toggle="collapse" data-bs-target="#demo5">
            Como faço para editar na lista de convidados?
        </button>
    </div>
    <div id="demo5" class="collapse caixa_resposta">
        Caso precise editar algum convidado é só ir na linha desejada e clicar no ícone “Editar”.
        Caso não ache a linha, use o ícone de pesquisa e informe o nome completo ou o RG do convidado e logo após clique no ícone de “editar”.
    </div>
 </div>

<div class="scrolling-words-container">
    <div>feito com ♥</div>
    <div class="scrolling-words-box">
        <ul>
            <li>por Beatriz</li>
            <li>por Gabriel</li>
            <li>por Leticia</li>
            <li>por Maria</li>
            <li>por Matheus</li>
            <li>por Victoria</li>
            <li>por Beatriz</li>
        </ul>
    </div>

</div>