<div class="mt-3">
    <h3>Perguntas Frenquentes</h3>
<div class="btn-group mt-3">
        <button class=" botao_pergunta" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Como cadastrar um evento?
        </button>
        <div class="collapse" id="collapseExample">
            <div class="card card-body caixa_resposta">
                Abra o menu lateral, clicando no botão do canto superior esquerdo, selecione evento e o tipo desejado.
                Ao selecionar, a tela de cadastro irá abrir, insira todas as informações necessárias e depois clique no botão concluir
                para salvar o evento.
            </div>
        </div>
    
</div>
