.title {
    color: #ab595e;
    font-size: 30px;
}
/*Caminho de Rato*/
.migalha{
    text-decoration: none;
    color: #ab595e;
    font-size:14px;
}
/*Indicacao de botao no caminho de rato*/
migalha:hover {
    text-decoration-line: underline;
}
h2{
    text-align: center;
}
.imagem{
    width:400px;
    height:400px;
}
.cardprincipal {
    background-color: #f3b6b6;
    border-radius: 30px;
}
.botao_buscar{
    border: 1px solid;
    height: 45px;
    border-radius: 50px;
    width:fit-content;
    border-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}
input{
    background-color: transparent;
    border: none;
}
.botao {
    background-color: transparent;
    border: none;
}
.letra{
    color: black;
}
/*tirar a borda da barra de pesquisar. obs: caso bugue, nao pode ter espaco depois dos dois pontos*/
textarea:focus, input:focus, select:focus {
    box-shadow: 0;
    border: none;
    outline: 0;
    color: black;
}

/*Criacao da checkbox personalizada*/
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #f3b6b6;
    border: 0.8px solid;
    border-color: black;
}
/*Passar o mouse por cima sem dar check*/
.quadrado:hover input ~ .checkmark {
    background-color: black;
}
/*Criacao do indicador branco*/
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/*O indicador aparece quando marcado*/
.quadrado input:checked ~ .checkmark:after {
    display: block;
}
/*A posicao do indicador branco de dentro da checkbox depois de marcado*/
.quadrado .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*Nao sei o motivo, porem é a label. obs: sem isso nao funciona*/
.quadrado {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 5px;
}
/*Esconde o checkbox do sistema*/
.quadrado input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/*Configuração para quando está marcado*/
.quadrado input:checked ~ .checkmark {
    background-color: black;
    border: 0.8px solid;
    border-color: black;
}

/*Input da mesa*/
.mesa{
    border: none;
    background-color: white;
    border-radius: 5px;
    width: 70px;
    color: black;
    text-align: center;
    display: block;
}
/*Input total*/
.total{
    border: none;
    background-color: white;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}
/*Tirar os botoes do input number*/
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.concluir {
    border: none;
    color: #ffeae5;
    background-color: #ab595e;
    border-radius: 30px;
    width: 160px;
    margin-left: 760px;
}
.botao_tabela {
    border: none;
    color: #ffeae5;
    background-color: #ab595e;
    border-radius: 30px;
    width: 50%;
    text-align: center;
    text-decoration: none;
    display: flex;
}