<div class="row">
    <h2>CONVIDADOS</h2>
        <div class=" card-body cardprincipal">
            <div class="botao_buscar">
                <button class="botao">
                    <img class="imagem" src="~/css/pesquisar.png" />
                </button>
                <input type="text" />
            </div>
            <form>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Mesa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td><label class="quadrado"><input type="checkbox" /><span class="checkmark"></span></label></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
</div>