.title {
    color: #ab595e;
    font-size: 30px;
}
h2{
    text-align: center;
}
.cardprincipal {
    background-color: #f3b6b6;
    border-radius: 30px;
}
.botao_buscar{
    border: 1px solid;
    height: 60px;
    border-radius: 50px;
    width:fit-content;
    border-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}
input{
    background-color: transparent;
    border: none;
}
.botao {
    background-color: transparent;
    border: none;
}

.checkmark {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 0.8px solid;
    border-color: black;
}


.container input:checked ~ .checkmark {
    background-color: black;
    border: 0.8px solid;
    border-color: black;
}

textarea: focus, input:focus, select:focus{
    box-shadow: 0;
    border: none;
    outline: 0;
    color:black;
}