<div class="row">
    <p><a href="/Home">Evento</a><a>></a><a href="/Casamento/Cadastrar">Cadastrar Casamento</a><a>></a><a>Convidados Casamento</a></p>
    <h2>CONVIDADOS CASAMENTO</h2>
        <div class=" card-body cardprincipal">
            <div class="botao_buscar">
                <button class="botao">
                    <img  style="width: 40px; height: 40px;" src="~/css/pesquisar.png" />
                </button>
                <input  id="myInput" type="text" />
            </div>
            <form>
                <table id="myTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 5%"></th>
                            <th style="width: 70%"></th>
                            <th style="width: 25%">MESA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td><label class="quadrado"><input type="checkbox" /><span class="checkmark"></span></label></td>
                            <td class="letra">Teste</td>
                            <td><input class="mesa" type="number" value="1"></input></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <label>TOTAL</label>
            <input class="total" type="number" />
            <button>CONCLUIR</button>
        </div>
</div>
