.formulario{
    margin-top: 5%;
}
p {
    display: inline;
    margin: 0;
    height: fit-content;
}
button{
    height: fit-content;
}
.botao{
    background-color: transparent;
    border: none;
    display: inline;
}
h2{
    text-align: center;
    display: block;
}

/*Caminho de Rato*/
a {
    text-decoration: none;
    color: #ab595e;
    font-size: 14px;
}
/*Indicacao de botao no caminho de rato*/
a:hover {
    text-decoration-line: underline;
}
.row{
    margin-bottom: 1%;
}
.cardprincipal {
    background-color: #f3b6b6;
    border-radius: 30px;
    padding: 2%;
    margin-right: 0;

}

/*-------------------------------------------*/

label{
    padding-right: 2%;
}
input{
    border: 1px solid black;
    width: 65%;
    height: fit-content;
    color: black;
}

/*-------------------------------------------*/

.botao2{
    background-color: white;

}

/*-------------------------------------------*/

.col-6{
    display: flex;
    justify-content: end;
    align-items: center;
}
.meio{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-6-2{
    width: 50%;
    display: inline;
}