/*Migalha de Pão*/
a {
    text-decoration: none;
    color: #ab595e;
    font-size: 14px;
}
/*Indicacao de botao na migalha de pão*/
a:hover {
    text-decoration-line: underline;
}

/*----------------------------------------*/

.cardprincipal {
    background-color: #f3b6b6;
    border-radius: 30px;
    padding: 2%;
}

/*----------------------------------------*/

h2{ /*não apagar*/
    text-align: center;
    margin-top: 5%;
}
p {
    display: inline;
    margin: 0;
    height: fit-content;
}
.botoes {
    width: 100%;
}

input {
    width: 65%;
}
textarea {
    height: 150px;
    border: 1px solid;
    color: black;
    width: 65%;
}

/*----------------------------------------*/

.drop{
    background-color: transparent;
    border: none;
    display: inline;
    height: fit-content;
}
label{
    padding-right: 2%;
}

.form-group-right {
    display: flex;
    justify-content: end;
    align-items: start;
    padding: 1%;
}
.caixa {
    display: flex;
    justify-content: center;
    align-items: start;
}

.form-group-center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.botao{
    background-color: white;
    display: block;
    border: 1px solid black;
    width: 50%;
    text-align: center;
    font-size: 23px;
}

.botao_concluir {
    border: none;
    color: #ffeae5;
    background-color: #ab595e;
    border-radius: 30px;
    padding: 1%;
    margin-top: 5%;
    width: 30%;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
