p {
    display: inline;
}
.botao{
    background-color: transparent;
    border: none;
    display: inline;
}
h2{
    text-align: center;
    display: block;
}
.pai{ /*Não apagar*/
    display: flex;
    align-items: center;
    justify-content: center;
}
textarea: focus, input:focus, select:focus {
    box-shadow: 0;
    border: none;
    outline: 0;
    color: black;
}

/*-------------------------------------------*/

.row{
    margin-bottom: 1%;
}
.cardprincipal {
    background-color: #f3b6b6;
    border-radius: 30px;
    padding: 1%;
    margin-right: 0;
    display: flex;
}
label{
    padding-right: 1px;
}
input{
    border: none;
    width: 60%;
}
.meio{
    width: 50%;
    display: inline;
}
.col-6{
    display: flex;
    float: right;
}