<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

<div>
    <p>
        <a href="/Home">Evento</a>
        <a>></a>
        <a>Cadastrar Casamento</a>
    </p>
    
    <h2>DADOS PESSOAIS</h2>
    <div class="cardprincipal">
        <form>
            <div class="row">
                <div class="col-6-2">
                    <div class="form-group-right">
                        <label>Nome:</label>
                        <input type="text" placeholder="*" name="text" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" onkeypress="return ApenasLetras(event,this);" />
                    </div>
                    <div class="form-group-right">
                        <label for="txtrg">RG:</label>
                        <input type="text" placeholder="*" id="rg" name="rg" pattern="\[0-9]{2}.[0-9]{3}.[0-9]{3}-[0-9]{1}"/>
                    </div>
                    <div class="form-group-right">
                        <label for="txttelefone">Telefone:</label>
                        <input type="tel" placeholder="*" id="telefone" name="telefone" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}" />
                    </div>
                </div>
                <div class="col-6-2">
                    <div class="form-group-right">
                        <label>Nome:</label>
                        <input type="text" placeholder="*" name="text" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" onkeypress="return ApenasLetras(event,this);" />
                    </div>
                    <div class="form-group-right">
                        <label for="txtrg">RG:</label>
                        <input type="text" name="rg1" id="rg1" placeholder="*" pattern="\[0-9]{2}.[0-9]{3}.[0-9]{3}-[0-9]{1}" />
                    </div>
                    <div class="form-group-right">
                        <label for="txttelefone">Telefone:</label>
                        <input type="tel" placeholder="*" id="telefone1" name="telefone1" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}" />
                    </div>
                </div>
            </div>
        </form>
    </div>

    <h2>CRONOGRAMA</h2>
    <div class="cardprincipal">
        <form>
            <div class="row">
                <div class="col-6-2 form-group-center">
                    <label>Data:</label>
                    <input type="date" />
                </div>
                <div class="col-6-2 form-group-center">
                    <label>Horário:</label>
                    <input type="time" />
                </div>
            </div>

            <div class="row">
                <div class="col-6-2 form-group-center">
                    <p>CERIMÔNIA</p>
                    <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">(+)</button>
                    <div class="collapse" id="collapseExample">
                        <form method="post">
                            <table>
                                <tbody>
                                    <td><input type="time"/></td>
                                    <td><input type="text"/></td>
                                </tbody>
                            </table>
                        </form>
                        
                    </div>
                    
                </div>
                <div class="col-6-2 form-group-center">
                    <p>FESTA</p>
                    <button class="drop">(+)</button>

                    <table>
                    </table>
                </div>
            </div>
        </form>

    </div>

    <h2>CONVIDADOS</h2>
    <div class="cardprincipal">
        <form>
            <div class="row">
                <div class="col-6-2">
                    <div class="form-group-right">
                        <label>Nome:</label>
                        <input type="text" placeholder="*" required pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" onkeypress="return ApenasLetras(event,this);" />
                    </div>
                    <div class="form-group-right">
                        <label>Mesa:</label>
                        <input type="number" placeholder="*" required/>
                    </div>
                    <div class="form-group-right">
                        <label>Telefone:</label>
                        <input type="tel" id="telefone2" name="telefone2" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}" />
                    </div>
                </div>
                <div class="col-6-2 form-group-center">
                    <div class="botoes">
                        <div class="form-group-center">
                            <a class="botao" href="/Convidados/Lista">Ver lista</a>
                        </div>
                        <div class="form-group-center">
                            <button class="botao" type="submit">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <h2>FORNECEDOR</h2>
    <div class="cardprincipal">
        <form>
            <div class="row">
                <div class="col-6-2">
                    <div class="form-group-right">
                        <label>Nome:</label>
                        <input type="text" placeholder="*" required pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" onkeypress="return ApenasLetras(event,this);" />
                    </div>
                    <div class="form-group-right">
                        <label>Telefone:</label>
                        <input type="tel" placeholder="*" required id="telefone3" name="telefone3" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}" />
                    </div>
                    <div class="form-group-right">
                        <label>Produto:</label>
                        <input type="text" placeholder="*" required/>
                    </div>
                    <div class="caixa">
                        <label>Descrição:</label>
                        <textarea></textarea>
                    </div>
                </div>
                <div class="col-6-2 form-group-center">
                    <div class="botoes">
                        <div class="form-group-center">
                            <a class="botao" href="/Convidados/Lista">Ver lista</a>
                        </div>
                        <div class="form-group-center">
                            <button class="botao" type="submit">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="form-group-center">
        <button class="botao_concluir" type="submit">CONCLUIR</button>
    </div>
</div>   


<script type="text/javascript">
    $transition - collapse:         height .35s ease;

    $(document).ready(function (){
        $('#telefone').mask('(00) 00000-0000');
        $('#telefone1').mask('(00) 00000-0000');
        $('#telefone2').mask('(00) 00000-0000');
        $('#telefone3').mask('(00) 00000-0000');
        $('#rg').mask('00.000.000-0');
        $('#rg1').mask('00.000.000-0');
    });  

    function ApenasLetras(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            } else if (e) {
                var charCode = e.which;
            } else {
                return true;
            }
            if (
                (charCode > 64 && charCode < 91) ||
                (charCode > 96 && charCode < 123) ||
                (charCode > 191 && charCode <= 255) // letras com acentos
            ) {
                return true;
            } else {
                return false;
            }
        } catch (err) {
            alert(err.Description);
        }
    }
</script>