<p>
    <a href="/Evento">Evento</a>
    <a>></a>
    <a>Cadastrar Casamento</a>
</p>

<h2>DADOS PESSOAIS</h2>
<div class="cardprincipal">
    <form>
        <div class="row">
            <div class="col">
                <div class="form-group-right">
                    <label>Nome:</label>
                    <input id="nome" type="text" required placeholder="*" name="text" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" onkeypress="return ApenasLetras(event,this);" />
                </div>
                <div class="form-group-right">
                    <label>RG:</label>
                    <input type="text" required placeholder="*" id="rg" name="rg" pattern="\[0-9]{2}.[0-9]{3}.[0-9]{3}-[0-9]{1}"/>
                </div>
                <div class="form-group-right">
                    <label>Telefone:</label>
                    <input type="tel" required placeholder="*" id="telefone" name="telefone" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}" />
                </div>
            </div>
            <div class="col">
                <div class="form-group-right">
                    <label>Nome:</label>
                    <input id="nome1" type="text" required placeholder="*" name="text" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" onkeypress="return ApenasLetras(event,this);" />
                </div>
                <div class="form-group-right">
                    <label>RG:</label>
                    <input type="text" required name="rg1" id="rg1" placeholder="*" pattern="\[0-9]{2}.[0-9]{3}.[0-9]{3}-[0-9]{1}" />
                </div>
                <div class="form-group-right">
                    <label>Telefone:</label>
                    <input type="tel" required placeholder="*" id="telefone1" name="telefone1" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}" />
                </div>
            </div>
        </div>
    </form>
</div>

<h2>CRONOGRAMA</h2>
<div class="cardprincipal">
    <form>
        <div class="row">
            <div class="col form-group-center">
                <label>Data:</label>
                <input type="date" />
            </div>
            <div class="col form-group-center">
                <label>Horário:</label>
                <input type="time" />
            </div>
        </div>

        <div class="row">
            <div class="col form-group-center">
                <p>CERIMÔNIA</p>
                <button class="drop" type="button" onclick="AddRowCerimonia()">(+)</button>
                <button class="drop" type="button" onclick="Apagar_Linha()">(-)</button>
            </div>
            <div class="col form-group-center">
                <p>FESTA</p>
                <button type="button" class="drop" onclick="AddRowFesta()">(+)</button>
                <button class="drop" type="button" onclick="Apagar_Linha1()">(-)</button>
            </div>
        </div>

        <div class="row">
            <div class="col caixa">
                <table id="tableCerimonia">
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="col caixa">
                <table id="tableFesta">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        
    </form>

</div>

<h2>CONVIDADOS</h2>
<div class="cardprincipal">
    <form>
        <div class="row">
            <div class="col">
                <div class="form-group-right">
                    <label>Nome:</label>
                    <input type="text" placeholder="*" required pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" onkeypress="return ApenasLetras(event,this);" />
                </div>
                <div class="form-group-right">
                    <label>Mesa:</label>
                    <input type="number" placeholder="*" required/>
                </div>
                <div class="form-group-right">
                    <label>Telefone:</label>
                    <input type="tel" id="telefone2" name="telefone2" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}" required/>
                </div>
            </div>
            <div class="col form-group-center">
                <div class="botoes">
                    <div class="form-group-center">
                        <a class="botao" href="/Convidados/Lista">Ver lista</a>
                    </div>
                    <div class="form-group-center">
                        <button action="/Convidados/SalvarDados" class="botao" type="submit">+</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<h2>FORNECEDOR</h2>
<div class="cardprincipal">
    <form>
        <div class="row">
            <div class="col">
                <div class="form-group-right">
                    <label>Nome:</label>
                    <input type="text" placeholder="*" required pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" onkeypress="return ApenasLetras(event,this);" />
                </div>
                <div class="form-group-right">
                    <label>Telefone:</label>
                    <input type="tel" placeholder="*" required id="telefone3" name="telefone3" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}" />
                </div>
                <div class="form-group-right">
                    <label>Produto:</label>
                    <input type="text" placeholder="*" required/>
                </div>
                <div class="form-group-right">
                    <label>Descrição:</label>
                    <textarea></textarea>
                </div>
            </div>
            <div class="col form-group-center">
                <div class="botoes">
                    <div class="form-group-center">
                        <a class="botao" href="/Fornecedor/Lista">Ver lista</a>
                    </div>
                    <div class="form-group-center">
                        <button class="botao" type="submit">+</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

    <div class="form-group-center">
    <button class="botao_concluir" type="submit" formaction="/Casamento/SalvarDados" id="liveToastBtn" onclick="botao_salvar()">CONCLUIR</button>
    </div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header justify-content-end">
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Os dados foram salvos!
        </div>
    </div>
</div>

<script type="text/javascript">
        
            const toastTrigger = document.getElementById('liveToastBtn')
            const toastLiveExample = document.getElementById('liveToast')

            if (toastTrigger) {
                const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
                toastTrigger.addEventListener('click', () => {
                    toastBootstrap.show()
                })
            }

    function AddRowCerimonia() {
        var table = document.getElementById("tableCerimonia");
        var row = table.insertRow();
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        cell1.innerHTML = "<input type='time'/>";
        cell2.innerHTML = "<input type='text'/>";
    }
    function Apagar_Linha() {
        var table = document.getElementById("tableCerimonia");
        var i = (table.rows.length) - 1;
        document.getElementById("tableCerimonia").deleteRow(i);
    }
    
    function AddRowFesta() {
        var table = document.getElementById("tableFesta");
        var row = table.insertRow();
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        cell1.innerHTML = "<input type='time'/>";
        cell2.innerHTML = "<input type='text'/>";
    }
    function Apagar_Linha1() {
        var table = document.getElementById("tableFesta");
        var i = (table.rows.length) - 1;
        document.getElementById("tableFesta").deleteRow(i);
    }

    $(document).ready(function (){
        $('#telefone').mask('(00) 00000-0000');
        $('#telefone1').mask('(00) 00000-0000');
        $('#telefone2').mask('(00) 00000-0000');
        $('#telefone3').mask('(00) 00000-0000');
        $('#rg').mask('00.000.000-0');
        $('#rg1').mask('00.000.000-0');
    });  

    function ApenasLetras(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            } else if (e) {
                var charCode = e.which;
            } else {
                return true;
            }
            if (
                (charCode > 64 && charCode < 91) ||
                (charCode > 96 && charCode < 123) ||
                (charCode > 191 && charCode <= 255) // letras com acentos
            ) {
                return true;
            } else {
                return false;
            }
        } catch (err) {
            alert(err.Description);
        }
    }
</script>