
.cardprincipal {
    background-color: #f3b6b6;
    border-radius: 30px;
    padding: 2%;
    margin-right: 0;
}

h2 { /*não apagar*/
    text-align: center;
    display: block;
    margin-top: 5%;
}

.botoes {
    width: 100%;
}

.botao {
    background-color: white;
    display: block;
    border: 1px solid black;
    width: 50%;
    text-align: center;
    font-size: 23px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input {
    width: 65%;
}

label {
    padding-right: 2%;
}

.form-group-right {
    display: flex;
    justify-content: end;
    align-items: start;
    padding: 1%;
}

.form-group-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
