<div class="row">
    <p><a class="migalha" href="/Evento">Evento</a><a class="migalha">></a><a class="migalha" href="/Casamento/Cadastrar">Cadastrar Casamento</a><a class="migalha">></a><a class="migalha">Fornecedor Casamento</a></p>
    <h2>FORNECEDOR CASAMENTO</h2>
    <div class=" card-body cardprincipal">
        <div class="botao_buscar">
            <button class="botao">
                <img style="width: 40px; height: 40px;" src="~/css/pesquisar.png" />
            </button>
            <input type="text" />
        </div>
        <form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 40%"></th>
                        <th style="width: 10%"></th>
                        <th style="width: 30%"></th>
                        <th style="width: 20%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="letra">Teste</td>
                        <td class="letra">Produto</td>
                        <td class="letra">Descrição</td>
                        <td><a id="editar" class="justify-content-center botao_tabela" href="/Fornecedor/Editar">Editar</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<script>
</script>